<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/_urunler.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <form class="ara" action="{% url  'search'%}">
        <input class="form-control me-1" type="text" name="q"placeholder="Ara..." >
    </form>
<div class="container mt-9">
    <div class="row">
        {% for urun in  page_obj.object_list %}
            <div class="card">
                <a href="{% url 'urun_detaylar' urun.slug %}">
                    <img class="card-img" src="{{ urun.resimUrl }}" alt="{{ urun.urunismi }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ urun.urunismi }}</h5>
                    <p class="card-text">{{ urun.fiyat }} {{ urun.fiyatbirim }}</p>
                    <form action="{% url 'sepet' %}" method="POST">
                        {% csrf_token %}
                        <a href="{% url 'sepet' %}"><button  type="submit" class="btn btn-cart">Sepete Ekle</button></a>
                        <a href="{% url 'favori' %}"><button type="button" class="btn btn-like ms-2"><i class="fas fa-heart"></i></button></a>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
    <style>
        .ara {
            display: flex;
            align-items: center;
            width: 200px;
            margin-right: 40px;
            margin-left: auto;
        }
        .ara .form-control {
            flex: 1;
        }
        .ara .btn {
            flex-shrink: 0;
        }
    </style>
</body>
</html>
