{% extends 'layout.html' %}

{% block page_title %}
    kategoriler
{% endblock %}

{% block content%}
        {% include 'shop/partials/../../../templates/partials/_categories.html' %}
        <div class="container mt-3">

        <div class="row">

            <div class="col-12 ">


                {% include 'shop/partials/_urunler.html' %}

                {% include 'shop/partials/_sayfalama.html' %}


            </div>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}
<!--
page_range paginatordeki bi özellik sayfa numaralarını verir
disabled pasif demek yazıyı pasifleştiriyor

has_previous gerideki sayfaların sayısı
has_next ilerideki sayfaların sayısı
-->